.icon_img:hover {
  filter: brightness(60%);
  animation: flicker 1s linear alternate infinite;
}

@keyframes flicker {
  0% {
    filter: brightness(60%);
  }

  100% {
    filter: brightness(100%);
  }
}

.main {
  border-style: solid;
  min-height: 100vh;
  font-family: 'Gaegu';
  font-size: 50px;
}

.hr {
  border : solid;
  border-radius: 20px;
  width : 400px
}

.layout {
  font-weight: bold;
}

.footerlayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height : 30vh;
  width : 100vw;
}

.gridlayout {

  padding : 5vw;
  display: grid;
  height : 70vh;
  width : 100vw;
}

.griditem:nth-child(1){
  font-size: 83px;
  grid-area: 1/ 1 / 2 /2;
  width : 100%;

}

.griditem:nth-child(2){
  grid-area: 2/ 1 / 3 /2;
  width : 100%;

}

.griditem:nth-child(3){
  grid-area: 2/ 2 / 3 /3;

}
